body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*-----------------------------*/
section {
    min-height: 500px;
    margin-top: 30px;
}

.navbar form label{
    color :#fff;
    margin-right: 5px;
}

.navbar form input:focus {
    border: none;
    box-shadow: none;
}

.Header_subtitle p {
    margin: 10px;
}
thead {
    background-color : #ddd;
}

table tr td,
table thead tr th{
    text-align: center;
}
h2 {
    margin: 15px 0;
}

.row{
    margin-bottom : 10px;
}
.is-empty {
    text-align: center;
    color: #808080;
}


#likeBtn:focus {
    box-shadow: none;
    border: none;
}

.likedBtn {
    color: darkblue;
}

@media (max-width: 767px){
    nav{
        width: 100%;
    }
}

.input-validation-error {
    border-bottom: 2px solid red;
}
