
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agency</title>
    <link rel="icon" href="~/Content/images/icon.jpg" />
</head>
<body>
    <div>
    </div>
</body>
</html>
