
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<h2>Choose action from the following:</h2>

<div class="list-group">
    @Html.ActionLink("Profile", "Profile", "Dashboard", null, new { @class = "list-group-item list-group-item-action " })
    @Html.ActionLink("All Users Data", "AllUsers", "Dashboard", null, new { @class = "list-group-item list-group-item-action " })
    @Html.ActionLink("All Posts Data", "AllPosts", "Dashboard", null, new { @class = "list-group-item list-group-item-action " })
    @Html.ActionLink("All Posts Requests", "PendingPosts", "Dashboard", null, new { @class = "list-group-item list-group-item-action " })
</div>