<!-- Sidebar-->
<div class="bg-dark border-dark" id="sidebar-wrapper">
    <div class="sidebar-heading font-weight-bold" style="color: cornflowerblue">Agency Dashboard</div>
    <div class="list-group list-group-flush">
        @Html.ActionLink("Profile 👨🏻", "Profile", "Agency", null, new {@class = "list-group-item list-group-item-action bg-dark ", style = "color: bisque; font-weight:700" })
        @Html.ActionLink("Publish New Post 📜", "CreatePost", "Agency", null, new {@class = "list-group-item list-group-item-action bg-dark", style = "color: bisque; font-weight:700" })
        @Html.ActionLink("My Posts 📑", "MyPosts", "Agency", null, new {@class = "list-group-item list-group-item-action bg-dark", style = "color: bisque; font-weight:700" })
        @Html.ActionLink("Questions ⁉", "FAQ", "Agency", null, new {@class = "list-group-item list-group-item-action bg-dark", style = "color: bisque; font-weight:700" })

    </div>
</div>
