@model Travel_Trek.ViewModels.WallViewModel
@using Travel_Trek.Models
@{
    var viewName = Model.CurrentView;
    var showFilterPosts = (viewName.Equals("Index") || viewName.Equals("SavedPosts")) ? true : false;
    var username = (User.Identity.IsAuthenticated) ? User.Identity.Name.Split('@')[0] : "Guest";
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top Hh">
    @Html.ActionLink("Travel Trek", "Index", "Wall", new { area = "" }, new { @class = "navbar-brand" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        @if (User.Identity.IsAuthenticated && !User.IsInRole(RoleNamesAndIds.Admin) && !User.IsInRole(RoleNamesAndIds.Agency) && showFilterPosts)
        {
            <form class="form-inline my-2 my-lg-0">
                <label for="filter">Filter</label>
                <input class="form-control mr-sm-2" type="search" name="filter" placeholder="Search" aria-label="Search" id="filter">
            </form>
        }

        <ul class="navbar-nav ml-auto">
            <li class="nav-link" style="color: bisque"> Hi, @username 🙋🏻‍♂️</li>

            @if (!User.Identity.IsAuthenticated)
            {
                <li class="nav-item">
                    <a href="#" onclick="showRegister()" class="nav-link" id="js-register">Register</a>
                </li>
                <li class="nav-item">
                    <a href="#" onclick="showLogin()" class="nav-link" id="js-login">Login</a>
                </li>
            }
            else
            {
                if (User.IsInRole(RoleNamesAndIds.Admin) || User.IsInRole(RoleNamesAndIds.Agency))
                {
                    // Display none
                }
                else
                {
                    <li class="nav-item">
                        @Html.ActionLink("My Profile 👨🏻‍💼", "Profile", "Wall", null, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("SavedPosts 💾", "SavedPosts", "Wall", null, new { @class = "nav-link" })
                    </li>
                }
                <li class="nav-item">
                    <a href="@Url.Action("Logout", "Account")" class="nav-link" id="js-logout">Logout 👋🏻</a>
                </li>
            }
        </ul>
    </div>
</nav>